* {
    margin: 0;
    padding: 0;
    font-family: serif;
    font-weight: bold;
}

.nav {
    width: 100%;
    height: 5em;
    background-color: #D7E9B9;
    justify-content: center;
    align-items: center;
    color: #9aaf7a;
    font-size: large;
}

.main {
    background-color: #fffcc4;
    height: 100vh;

}

.headertext::first-letter {
    font-size: 40px;
    color: #839d5b;
    
}

.headertext {
    font-size: 30px;
}

.headertext::backdrop{
    color: red;
}


/* 
@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: var(--typ)
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: green;
    }

    to {
        border-right-color: transparent;
    }
} */

.question {
    height: 3em;
    background-color: #FFD495;
    box-sizing: border-box;
    border: 1px solid orange;
    margin: 10px 10px;
    padding: 4px;
    border-radius: 5px;
    color: #ac8244;
    position: relative;

}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

div#ggb-element {
    width: 1100px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgb(97, 224, 182);
    overflow: clip;
}